* {
    box-sizing: border-box;
}

:root {
    --primary-color: #d3c09f;
    --secondary-color: #699384;
    --tertiary-color: #314a46;
    --text-color: black;
}

header {
    display: flex;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #314a46;
    color: white;
}

h1 {
    
}
body{
    padding-left: 5px;
}

body::before {
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 5px;
    background-color:var(--tertiary-color);
}


hr.rounded {
    margin-top: 10%;
    border-top: 5px solid #bbb;
    border-radius: 3px;

  }



text {
    color:var(--text-color)
}

aside{
width: 19%;
padding-left: 15px;
margin-left: 18px;
padding-right: 15px;
float: left;
background-color: var(--primary-color);
}
html {
    background-color: var(--primary-color);
}