* {
    box-sizing: border-box;
}

:root {
    --primary-color: #d3c09f;
    --secondary-color: #699384;
    --tertiary-color: #314a46;
    --text-color: black;
}

header {
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #314a46;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: bold;
    margin: 8px;
}

.topnav {
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 5px;
}

body {
    padding-left: 5px;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 275px;
    width: 5px;
    background-color:var(--tertiary-color);
} */


hr.rounded {
    margin-top: 10%;
    border-top: 5px solid #bbb;
    border-radius: 3px;
  }

text {
    color:var(--text-color)
}

aside {
  width: 19%;
  padding-left: 15px;
  margin-left: 18px;
  padding-right: 15px;
  float: left;
  background-color: var(--primary-color);
}

html {
    background-color: var(--primary-color);
}

#searchInput {
    border: 1px solid black;
    border-radius: 3px;
    float: right;
    height: 25px;
    width: 100%;
    margin: 8px;
}

.btn {
    background-color: #699384;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    padding: 8px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.btn:hover {
    background-color: #314a46;
    cursor: pointer;
}

.results {
  background-color: #699384; 
}

.list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }

  .list-group {
    padding: 0;
    list-style: none;
  }